.loadingdiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: white;
}
.lodingcenterdiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}